.has-carousel {
  padding-top: 2em;
  padding-bottom: 2em;
}
.slider-overlay-container {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}
.dhr-episode-carousel {
  width: 80%;
  margin-left: auto;
  figure {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.flickity-viewport {
  border-radius: 10px 0 0 10px;
  transition: all 0.3s ease-in-out;
}

.flickity-page-dots {
  width: 2.5em;
  left: -15%;
  bottom: 50%;
  .dot {
    display: block;
    float: right;
    border-radius: 0;
    height: 1px;
    width: 1em;
    margin-top: .65em;
  }
  .is-selected {
    height: 2px;
    background: $primary;
    width: 2.5em;
    animation: dotResize 0.6s 1;
  }
}

@keyframes dotResize {
  0% {
    width: .625em;
  }
  50% {
    width: 2.8125em;
  }
  100% {
    width: 2.5em;
  }
}

@media(min-width: $bp-md) {
  .has-carousel {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .dhr-episode-carousel {
    width: 70%;
  }
  .slider-overlay-container {
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .flickity-page-dots {
    width: 2.5em;
    left: -15%;
    bottom: 50%;
    .dot {
      display: block;
      float: right;
      border-radius: 0;
      height: 1px;
      width: 1em;
      margin-top: .65em;
    }
    .is-selected {
      height: 2px;
      width: 2.5em;
    }
  }
}
