

.dhr-contactmodal {
	position: fixed; z-index: 99999;
	top:0; left:0; width:100%; height:100%;
	background: $secondary;

	visibility:hidden;
	transform: translateY(-100%);
	
	.is-ready-contactmodal & {
		//overflow: scroll;
	}

	&--top {
		padding: 1.4em 0;
		background: shade($secondary,15%);
		overflow: scroll;

		&:before {
			content:""; display:block; position:absolute;
			top:-10em; left:0; height:10em; width:100%;
			background: shade($secondary,15%);
		}

		> .inner {
			position: relative;
		}
	}
}


.dhr-contactmodal--contents {
	padding-top: 1em;
	padding-bottom: 2em;
}


.dhr-contactmodal--body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&.is-taller {
		display: block;
		overflow: auto;
	}
}


.dhr-contactmodal--body-liner {
	> .inner {
		position: relative;
	}
}





.dhr-contactomodal--close {
	position: absolute;
	height: 100%;
	top:0;
	left:0;
	width: 2.2em;

	button {
		line-height: 1;
		@include appearance(none); border:none; background:none; outline: none;
		padding:0;
		font-size: 2em;
		color: $white;
		transition: color .3s ease;

		i {
			height: 1em; width:1em;
			display:block;
			transition: transform .3s ease;
		}

		&:hover {
			color: $secondary;
			i {
				transform: scale(0.95);
			}
		}
	}
}


.dhr-contactmodal--logo {
}



.dhr-contactmodal--intro {
	text-align: center;
	color: $white;
	margin-bottom: 1.5em;

	p a {
		font-weight: bold;
		color: $darkblue;
		position: relative;
		transition: opacity .3s ease;

		&:after {
			content:""; display:block; position:absolute;
			bottom:0; left:0; width:100%; height:1px;
			background: darken($secondary,15%);
		}

		&:hover {
			opacity: 0.5;
		}
	}

	.dhr-preheadline {
		color: $darkblue;
	}
	.dhr-sectionheadline {
		color: $white;
	}
}



.dhr-contactmodal--form {
	position: relative;
	text-align: center;
	color: $white;

	select {
		border:none; outline:none;
		background: shade($secondary,8%);
		background-image: none;
		color: shade($secondary,35%);
		//@include appearance(none);
	}

	input[type="text"], input[type="tel"], input[type="email"], select {
		border:none; outline:none;
		background-color: shade($secondary,8%);
		width:100%; display:block;
		height: 2.5em;
		padding: 0 1em;
		border-radius: 4px;
		font-weight: bold;
		@include placeholder() {
			font-weight: normal;
			color: shade($secondary,35%);
			transition: color .5s ease;
		}

		@media (min-width:$bp-xl) {
			height: 2.8em;
		}
	}

	select {
		font-weight: normal;
	}

	
	input[type="text"], input[type="tel"], input[type="email"], select {
		border: 1px solid shade($secondary,8%);
		transition: all .3s ease;

		&:focus{
			background-color: shade($secondary,5%);
			//background-color: transparent;
			border-color: shade($secondary,15%);
		}
	}

}

.dhr-contactmodal--btns {
	padding-top: 1em;
}



.dhr-inlineform--input {
	display: inline-block;
	position: relative;
	width: 12em;


	&.is-filledin {
		
		input[type="text"], input[type="tel"], input[type="email"], select {
			//border-color: shade($secondary,15%);
			//background: shade($secondary,0%);
			font-weight: bold;
			color: $white;
		}

		label {
			visibility: visible;
			opacity:1;
		}
	}


	&.is-fieldinvalid {

		input[type="text"], input[type="tel"], input[type="email"], select {
			border-color: $error_color;
		}
	}
	

	label {
		position: absolute;
		bottom: 95%; left:1.5em;
		font-size: 0.67em; 
		font-weight: bold;
		color: shade($secondary,25%);
		letter-spacing: 0.2px;
		text-transform: uppercase;
		visibility: hidden;
		opacity:0;
		transition: all .25s ease;
	}


	&-question {
		width: 14em;
	}
}


.dhr-inlineform {


	&--word {
		font-size: .9em;
	}
}


//error notice
.dhr-contactmodal--notice, .dhr-contactmodal--error {
	position: absolute;
	bottom:-2.5em; left:0;
	width:100%;
	padding-top: .5em;
	
	transform: translateY(10px);
	opacity:0;
	visibility:hidden;
	transition: opacity 0.35s ease, transform 0.35s $ease-out-quart, visibility 0.35s ease;

	p {
		margin:0 !important; 
		font-size: .85em;
		font-weight: bold;

		a {
			color: $darkblue;
			position: relative;
			&:after {
				content:""; display:block; position:absolute;
				bottom:0; left:0; width:100%; height:1px;
				background: darken($secondary,15%);
			}
		}

		span {
			display: inline-block;
			position: relative;

			&:after {

			}
		}
	}
}

.is-forminvalid .dhr-contactmodal--notice,
.is-formerror .dhr-contactmodal--error {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}



@include keyframes(spinner) {
	0% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(360deg));
	}
}

//spinner
.dhr-inline {
	display: inline-block;
	position: relative;
}
.dhr-form--spinner {
	position: absolute;
	line-height:1;
	left: 110%; top:50%;
	opacity: 0;
	transform: translate(0, -50%);
	transition: all .2s ease;

	span {
		display: block;
		@include animation(spinner .55s ease infinite);
	}

	.is-submitting & {
		opacity: 1;
	}
}



.dhr-contactmodal--success {
	position: absolute;
	top:0; left:0;
	width: 100%; height:100%;
	text-align: center;
	display: none;
	color: $white;

	align-items: center;


	&-msg {
		p {
			margin:0;
		}
	}
	
	.dhr-preheadline {
		color: $darkblue;
	}
	.dhr-sectionheadline {
		color: $white;
	}
}


#secondary-modal-close {

}


.dhr-contactmodal--social {
	padding: 2em 0 2em;
	text-align: center;

	ul {
		list-style: none;
		padding:0;
		margin:0;
	}

	li {
		display: inline-block;
		font-size: 1.35em;
		margin-left: .5em;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: shade($secondary, 15%);
		transition: color .3s ease;
		&:hover {
			color: $white;
		}
	}
}



@media (min-width:$bp-md) {

}


@media (min-width:$bp-lg) {


	.dhr-contactmodal--intro {
		margin-bottom: 2em;
	}
	
	.dhr-contactmodal--form {
		p {
			margin-bottom: 1.35em;
		}
	}


	.dhr-contactmodal--social {
		li {
			margin-left: 1.25em;
		}
	}
	

}


@media (min-width:$bp-xl) {

	.dhr-contactmodal--top {
		padding: 1.5em 0;
	}

	.dhr-inlineform {

		&--word {
			font-size: 1em;
		}
	}



	.dhr-inlineform {
		p > .dhr-inlineform--word {
			margin-left: .5em;
			margin-right: .5em;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}


}








@media (min-height:$bp-md) {


}











// SMALL SCREEN VIEW --------------------------------------//

@media (max-width:$bp-lg) {

	.dhr-inlineform--input {
		display: block;
		margin-bottom: .5em;
		width: 100%;
		max-width: 24em;
		margin-left: auto;
		margin-right: auto;

		label {
			@include sr-only();
		}
	}
	.dhr-inlineform--word {
		display: none;
	}


	.dhr-inlineform {
		> p {
			margin: 0;
		}
	}

}














