

.dhr-contactmodal {
	display: none;
	position: fixed; z-index: 99999;
	top:0; left:0; width:100%; height:100%;
	background: $secondary;


	&--top {
		padding: 1.4em 0;
		background: shade($secondary,15%);
		&:before {
			content:""; display:block; position:absolute;
			top:-10em; left:0; height:10em; width:100%;
			background: shade($secondary,15%);
		}

		> .inner {
			position: relative;
		}
	}

	&--body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 650px;
		overflow: scroll;
	}
}

.dhr-contactomodal--close {
	position: absolute;
	height: 100%;
	top:0;
	left:0;
	width: 2.2em;

	button {
		line-height: 1;
		@include appearance(none); border:none; background:none; outline: none;
		padding:0;
		font-size: 2em;
		color: $white;
		transition: color .3s ease;

		i {
			height: 1em; width:1em;
			display:block;
			transition: transform .3s ease;
		}

		&:hover {
			color: $secondary;
			i {
				transform: scale(0.95);
			}
		}
	}
}


.dhr-contactmodal--logo {
}



.dhr-contactmodal--intro {
	text-align: center;
	color: $white;
	margin-bottom: 1.5em;

	p a {
		font-weight: bold;
		color: $darkblue;
		position: relative;
		&:after {
			content:""; display:block; position:absolute;
			bottom:0; left:0; width:100%; height:1px;
			background: darken($secondary,15%);
		}
	}

	.dhr-preheadline {
		color: $darkblue;
	}
	.dhr-sectionheadline {
		color: $white;
	}
}



.dhr-contactmodal--form {
	text-align: center;
	color: $white;

	select {
		border:none; outline:none;
		background: shade($secondary,8%);
		background-image: none;
		color: shade($secondary,35%);
		//@include appearance(none);
	}

	input[type="text"], input[type="tel"], input[type="email"], select {
		border:none; outline:none;
		background-color: shade($secondary,8%);
		width:100%; display:block;
		height: 2.5em;
		padding-right: 1em;
		padding-left: 1em;
		border-radius: 4px;
		font-weight: bold;
		@include placeholder() {
			font-weight: normal;
			color: shade($secondary,35%);
			transition: color .5s ease;
		}
	}

	select {
		font-weight: normal;
	}

	
	input[type="text"], input[type="tel"], input[type="email"], select {
		border: 2px solid shade($secondary,8%);
		transition: all .3s ease;

		&:focus{
			border-color: shade($secondary,15%);
			background: shade($secondary,0%);

			// @include placeholder() {
			// 	color: $white;
			// }
		}
	}

}

.dhr-contactmodal--btns {
	padding-top: 1em;
}

.dhr-inlineform--input {
	display: inline-block;
	position: relative;
	width: 12em;


	&.is-filledin {
		
		input[type="text"], input[type="tel"], input[type="email"], select {
			border-color: shade($secondary,15%);
			background: shade($secondary,0%);
			font-weight: bold;
			color: $white;
		}

		label {
			visibility: visible;
			opacity:1;
		}
	}
	

	label {
		position: absolute;
		bottom: 95%; left:1.5em;
		font-size: 0.67em; 
		font-weight: bold;
		color: shade($secondary,25%);
		letter-spacing: 0.2px;
		text-transform: uppercase;
		visibility: hidden;
		opacity:0;
		transition: all .25s ease;
	}
}


.dhr-inlineform {


	&--word {
		font-size: .9em;
	}
}



.dhr-contactmodal--social {
	padding: 3.5em 0 1em;
	text-align: center;

	ul {
		list-style: none;
		padding:0;
		margin:0;
	}

	li {
		display: inline-block;
		font-size: 1.35em;
		margin-left: .5em;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: shade($secondary, 15%);
		transition: color .3s ease;
		&:hover {
			color: $white;
		}
	}
}



@media (min-width:$bp-md) {
	
	

}


@media (min-width:$bp-lg) {


	.dhr-contactmodal--intro {
		margin-bottom: 2em;
	}
	
	.dhr-contactmodal--form {
		p {
			margin-bottom: 1.35em;
		}
	}
	

}


@media (min-width:$bp-xl) {

	.dhr-contactmodal--top {
		padding: 1.7em 0;
	}


}



@media (min-height:$bp-md) {


}


