
// FOOTER ----------------------------------------//

.dhr-footer {
	position: relative;
	background: $darkblue;

	> .inner {
		position: relative;
	}

	&--social {
		padding: 1em 0 2em;
		ul {
			list-style:none;
			padding:0; margin:0;
		}

		li {
			display: inline-block;
			margin-right: .5em;
			font-size: 1.3em;
		}
		a {
			display: block;
			padding: 2px;
			color: $white;
			transition: color .3s ease;
			&:hover {
				color: $secondary;
			}
		}
		i[class*="icon"] {
			width: auto;
		}
	}
}

.dhr-footer--content {
	text-align: center;
	padding: 8em 0 4em;
}


.dhr-footer--headline {
	h2 {
		color: $white;
	}
}


//footer email capture
.dhr-footer--form {
	padding: 2em 0 3em;

	.dhr-formfield {
		position: relative;
	}


	input[type="email"], input[type="text"] {
		height: 2em;
		font-size: 1.2em;
		color: $white;
		border-bottom: 2px solid tint($darkblue,15%);
		transition: all .35s ease;

		&:hover {
			border-bottom: 2px solid tint($darkblue,25%);
			@include placeholder() {
				color: tint($darkblue,25%);
			}
 		}

		&:focus {
			+ .dhr-footer--emailborder {
				transform: scale(1,1);
				transform-origin: left center;
			}
			@include placeholder() {
				color: tint($darkblue,25%);
			}
		}

		@include placeholder() {
			color: tint($darkblue,15%);
			transition: all .35s ease;
		}
	}
}
.dhr-footer--emailborder {
	display: block; position:absolute;
	bottom:0; left:0; width:100%; height:2px;
	background: $bluegray;
	transform-origin: right center;
	transform: scale(0,1);
	transition: transform .35s $ease-out-quart;
}

.dhr-footer--submit {
	@include appearance(none); border:none; outline:none;
	line-height:1;
	position:absolute; bottom:2px; right:0;
	background: $darkblue;
	padding: .35em;
	transition: transform .35s $ease-out-back;
	svg {
		width: 2.2em;
		height: 1.2em;
		transform: scale(1);
		transition: transform .3s $ease-out-back;
		path {
			fill: $primary;
		}
	}

	&:hover {
		svg {
			transform: scale(1.1);
		}
	}
}


.dhr-footer--copyright {
	h5, p {
		font-family: $body-font-family;
		font-weight: normal;
		color: $bluegray;
	}
	h5 {
		font-size: 1.2em;
		margin-bottom: .2em;
	}
}


.dhr-footer--backtop {
	margin-bottom: 2em;
	a {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		color: $bluegray;
		font-size: .85em;
		
		&:after {
			content: attr(data-text); display:block;
			position: absolute; bottom:0; left:0;
			color: $primary;
			white-space: nowrap;
			overflow:hidden;
			opacity:0; 
			width:0;
			visibility:hidden;
			transition: width .3s ease;
		}

		&:hover {
			&:after {
				visibility: visible;
				width: 100%; opacity:1;
			}
		}
	}


}

html.no-generatedcontent a:hover {
	color: $primary;
}




@media (min-width:$bp-sm) {
	
	.dhr-footer--form {
		input[type="text"], input[type="email"] {
			text-align: center;
			font-size: 1.4em;

			&:focus {
				~ .dhr-footer--submit {
					transform: translateX(-1em);
				}
			}
		}
	}

	.dhr-footer--submit {
		padding: .45em;
	}

}



@media (min-width:$bp-md) {

	.dhr-footer--content {
		text-align: center;
	}

	.dhr-footer--form {
		
		input[type="text"], input[type="email"] {
			font-size: 1.7em;
			&:focus {
				~ .dhr-footer--submit {
					transform: translateX(-1.5em);
				}
			}
		}
	}

	.dhr-footer--submit {
		padding: .7em;
	}

}



@media (min-width:$bp-xl) {
	
	.dhr-footer--form {
		
		input[type="text"], input[type="email"] {
			&:focus {
				~ .dhr-footer--submit {
					transform: translateX(-2.5em);
				}
			}
		}
	}


	.dhr-footer--copyright {
		h5 {
			font-size: 1.45em;
		}
	}

}



@media (min-width:$bp-xxl) {

	.dhr-footer--content {
		padding: 10em 0 5em;
	}
	
	.dhr-footer--backtop {
		margin: 0;
		position: absolute; z-index:299;
		right:0;
	}
	.dhr-footer--social {
		padding-top: 2em;
	}

}


