

// HERO --------------------------------------------//

.dhr-hero {
	position: relative;
	padding: 5em 0;

	> .inner {
		position: relative;
		z-index: 399;
	}

	&--content, &--play {
		text-align: center;
	}
	&--content p {
		color: $white;
	}
}


.dhr-hero--content {
	position: relative;
}
.dhr-hero--link {
	position: absolute; z-index:399;
	top:0; left:0;
	width: 100%; height:90%;
}

.dhr-hero--owner {
	margin-bottom: 2em;
	font-size: 80%;
}

.dhr-hero--owner-img {
	position: relative;
	line-height:1;
	display: inline-block;
	border-radius: 50%;
	margin-right: 0.5em;
	height: 3.3em;

	&:before {
		content:""; display:block; position:absolute;
		width: 114%; height:114%; top:-8%; left:-5%;
		background: rgba($white,0.1);
		border-radius:50%;
	}

	svg {
		position: relative;
		height: 3.3em; //older ie's
	}
}

.dhr-hero--owner-name {
	display: inline-block;
	position: relative; top: -1.4em;
	p {
		color: $primary;
		font-size: .8em;
		margin: 0;
		strong {
			text-transform: uppercase;
		}
	}
}


.dhr-hero--bg {
	position: fixed; 
	top:0; left:0; width:100%; height:100%;
	background-size: cover;
}

.dhr-hero--btns {
	padding-top: .5em;
}


.dhr-hero--play {
	transform-style: preserve-3d;
	perspective:700px;
	max-width: 17em;
	margin: 0 auto;
	padding-right: 2%;
	a {
		display: inline-block;
		overflow:hidden; border-radius:50%;
		transition: transform .7s $ease-out-back;
	}

	
	//inline video fallback (mobile / touch)
	&.has-fallback {
		padding: 0;
		max-width: none;

		> div {
			position: relative;
		}

		video {
			width:100% !important;
			height: auto;
			display: block; 
			border-radius: 6px;
		}
	}
}






// FIXED HEROES
.dhr-fixedhero {
	position: fixed;
	top:0; left:0; width:100%; height:100%;


	&--img {
		position: absolute; top:0; left:0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
	}

	&--outer {
		position: relative;
		overflow: hidden;
		height: 100vh;

		&.is-fallback {
			background-position: center center;
			background-size: cover;
		}
	}

	&--autoheight {
		.dhr-fixedhero--outer {
			height:0;
			padding-bottom: 50%;
		}
	}

	&--video {
		position: absolute; 
		min-height:100%;
		min-width: 100%;
		top:50%; left:50%;
		transform: translate(-50%, -50%);
	}
}


.dhr-fixedhero--has-video {

	.dhr-fixedhero--outer {
		&:after {
			content:""; display:block; position:absolute;
			top:0;left:0; width:100%;height:100%;
			background: rgba($darkblue,0.5);
			transition: background .5s ease;
		}
	}

	.is-playingtriggered & {
		.dhr-fixedhero--outer:after {
			background: rgba($darkblue,0.85);
		}
	}
	
	.backgroundblendmode .version-blendmoded & {
	  .dhr-fixedhero--outer:after {
			mix-blend-mode: multiply;
		}
	}

}



//---------------------------------------//
// HOME SPECIFIC

.dhr-homehero {
	padding-bottom: 3.5em;

	.inner:last-of-type {
		margin-top: 2em;
	}
	.dhr-divider {
		display: none;
	}
	
	//plyr videos
	.dhr-fluidvideo--wrapper > .plyr--video {
		//transform: translateY(120%);
	}
}

.dhr-hero--leadin {
	padding-top: 1.5em;
	text-align: center;
	color: $white;
	p {
		margin: 0;
	}
}


//vide playing state
.dhr-currentpage-index {

	#dhr-hero-top, .dhr-hero--leadin {
		transition: opacity 1s ease, transform 1s ease;
	}
	.dhr-divider {
		opacity: 1;
		transition: opacity 1s ease;
	}
	
	&.is-playingtriggered {

		#dhr-hero-top {
			opacity:0;
			transform: translateY(-70px);
		}
		.dhr-hero--leadin {
			opacity: 0;
			transform: translateY(70px);
		}
	}

	&.is-playingvideo {
		.dhr-divider {
			opacity:0;
		}
	}

}



//Home Hero Video Player Overrides
#dhr-hero-embedtarget {
	
	// .plyr__controls {
	// 	text-align: right;
	// 	width: 100%;
	// }

	// .plyr__progress {
	// 	position: absolute;
	// 	bottom:0; left:0;
	// }

	// .plyr__progress--played {
	// 	background: $secondary;
	// 	height: 2px;
	// }
	// .plyr__progress--buffer {
	// 	height: 2px;
	// }
	
	button[data-plyr="fullscreen"] {
		
	}

}












//FEATURES SPECIFIC
.dhr-currentpage-features {
	.dhr-fixedhero--img {
		//background-attachment:fixed;
		background-position: center center;
		&:after {
			content:""; display:block; position:absolute;
			top:0; left:0; width:100%; height:100%;
			background: rgba(#000,0.5);
		}
	}
}

#dhr-features-vidbtn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
}






@media (min-width:$bp-sm) {

	.dhr-hero--owner {
		font-size: 100%;
	}
}



@media (min-width:$bp-md) {

	.dhr-fixedhero {
		position: fixed;
	}

	.dhr-hero {
		padding: 10em 0 5.5em;
	}

	.dhr-hero--content {
		width: 60%; 
		float: left;
		text-align: left;
	}
	
	.dhr-hero--play {
		width: 40%; 
		float: right;
		text-align: right;
	}
	
	.dhr-hero--owner {
		padding-top: 0.5em;
		margin-bottom: 1em;
	}

	.dhr-homehero {
		.dhr-divider {
			display: block;
		}
	}
	.dhr-hero--leadin {
		padding-top: 3.5em;
	}

	.dhr-featureshero {
		.dhr-hero--content {
			width: 65%;
		}
	}



	#dhr-features-vidbtn {
		position: relative; top: .5em;
		display: inline-block;
		width: 10em;
		//height: 2em;
		margin-left: 1em;
		margin-right: 0;
		font-size: 90%;

		.dhr-playlockup {
			width: 2.8em;
		}
	}
	
	.dhr-featureshero {
		.dhr-hero--btns {
			padding-top: 0;
		}
	}

}


@media (min-width:$bp-lg) {

	.dhr-hero {
		padding: 12em 0 6em;
	}


	.dhr-hero--owner {
		font-size: 140%;

		&-name p {
			font-size: .6em;
		}
	}


	
	.dhr-homehero {
		padding-bottom: 5em;
		.inner:last-of-type {
			margin-top: 3.5em;
		}
	}
	.dhr-hero--leadin {
		padding-top: 4.5em;
	}
}


@media (min-width:$bp-xl) {

	.dhr-hero {
		padding: 14em 0 8em;
	}

	.dhr-hero--content {
		width: 50%; 

		.dhr-preheadline {
			//margin-bottom: 1em;
		}
	}

	.dhr-hero--leadin {
		p {

		}
	}


	.dhr-hero--owner-img {
		margin-right: 1em;
	}

	.dhr-hero--play {
		width: 40%; 
	}

	.dhr-homehero {
		padding-bottom: 5.5em;
	}


	.dhr-featureshero {
		.dhr-hero--content {
			width: 50%;
		}
	}
	
}


@media (min-width:$bp-xxl) {

	.dhr-hero {
		padding: 15em 0 9em;
	}


	.dhr-hero--owner {

		&-name p {
			font-size: .625em;
		}
	}
	

	.dhr-hero--play {
		a {
			margin-top: -0.85em;
		}
	}

	.dhr-homehero {
		padding-bottom: 5.5em;
	}
	
}




// HEIGHT MEDIA QUERIES --------------------------------------//

@media (max-height:800px) {

	
	// #dhr-hero-bottom {
	// 	transition: width 1s ease;

	// 	.is-playingtriggered & {
	// 		width: 80%;
	// 	}
	// }

}











