

// HERO --------------------------------------------//

.dhr-hero {
	position: relative;
	padding: 5em 0;

	> .inner {
		position: relative;
		z-index: 399;
	}

	&--content, &--play {
		text-align: center;
	}
	&--content p {
		color: $white;
	}
}

.dhr-hero--owner {
	margin-bottom: 2em;
	font-size: 80%;
}

.dhr-hero--owner-img {
	display: inline-block;
	width: 3.7em; height: 3.7em;
	padding: .2em;
	background: rgba($white,0.2);
	border-radius: 50%;
	margin-right: 0.5em;

	svg {
		height: 3.3em; //older ie's
	}
}

.dhr-hero--owner-name {
	display: inline-block;
	position: relative; top: -1.4em;
	p {
		color: $primary;
		font-size: .85em;
		margin: 0;
		strong {
			text-transform: uppercase;
		}
	}
}


.dhr-hero--bg {
	position: fixed; 
	top:0; left:0; width:100%; height:100%;
	background-size: cover;
}

.dhr-hero--btns {
	padding-top: .5em;
}


.dhr-hero--play {
	transform-style: preserve-3d;
	perspective:700px;
	max-width: 17em;
	margin: 0 auto;
	padding-right: 2%;
	a {
		display: inline-block;
		overflow:hidden; border-radius:50%;
		transition: transform .7s $ease-out-back;
	}
}






// FIXED HEROES
.dhr-fixedhero {
	position: fixed;
	top:0; left:0; width:100%; height:100%;


	&--img {
		position: absolute; top:0; left:0;
		width: 100%;
		height: 100%;
		background-size: cover;
	}

	&--outer {
		position: relative;
		overflow: hidden;
		height: 100vh;
	}

	&--autoheight {
		.dhr-fixedhero--outer {
			height:0;
			padding-bottom: 50%;
		}
	}

	&--video {
		position: absolute; 
		min-height:100%;
		top:50%; left:50%;
		transform: translate(-50%, -50%);
	}
}


.dhr-fixedhero--has-video {
	
	.dhr-fixedhero--outer {
		&:after {
			content:""; display:block; position:absolute;
			top:0;left:0; width:100%;height:100%;
			background: rgba($darkblue,0.3);
			mix-blend-mode: multiply;
		}
	}
}



// HOME SPECIFIC
.dhr-homehero {
	padding-bottom: 3.5em;

	.inner:last-of-type {
		margin-top: 2em;
	}
	.dhr-divider {
		display: none;
	}
}

.dhr-hero--leadin {
	padding-top: 1.5em;
	text-align: center;
	color: $white;
}




//FEATURES SPECIFIC
.dhr-currentpage-features {

	.dhr-fixedhero--img {
		//background-attachment:fixed;
		&:after {
			content:""; display:block; position:absolute;
			top:0; left:0; width:100%; height:100%;
			background: rgba(#000,0.5);
		}
	}
}







@media (min-width:$bp-sm) {

	.dhr-hero--owner {
		font-size: 100%;
	}
}



@media (min-width:$bp-md) {

	.dhr-hero {
		padding: 10em 0 5.5em;
	}

	.dhr-hero--content {
		width: 60%; 
		float: left;
		text-align: left;
	}
	
	.dhr-hero--play {
		width: 40%; 
		float: right;
		text-align: right;
	}
	

	.dhr-homehero {
		.dhr-divider {
			display: block;
		}
	}
	.dhr-hero--leadin {
		padding-top: 3.5em;
	}

	.dhr-featureshero {
		.dhr-hero--content {
			width: 65%;
		}
	}
}


@media (min-width:$bp-lg) {

	.dhr-hero {
		padding: 12em 0 6em;
	}


	.dhr-hero--owner {
		font-size: 135%;

		&-name p {
			font-size: .65em;
		}
	}


	
	.dhr-homehero {
		padding-bottom: 5em;
		.inner:last-of-type {
			margin-top: 3.5em;
		}
	}
	.dhr-hero--leadin {
		padding-top: 4.5em;
	}
}


@media (min-width:$bp-xl) {

	.dhr-hero {
		padding: 14em 0 8em;
	}

	.dhr-hero--content {
		width: 50%; 

		.dhr-preheadline {
			margin-bottom: 1em;
		}
	}

	.dhr-hero--leadin {
		p {

		}
	}

	.dhr-hero--play {
		width: 40%; 

		a {
			margin-top: -1em;
		}
	}

	.dhr-homehero {
		padding-bottom: 5.5em;
	}


	.dhr-featureshero {
		.dhr-hero--content {
			width: 50%;
		}
	}
	
}


@media (min-width:$bp-xxl) {

	.dhr-hero {
		padding: 15em 0 9em;
	}


	.dhr-homehero {
		padding-bottom: 5.5em;
	}
	
}




