

// loading screen / pace
.dhr-loadscreen {
	position: fixed; z-index: 999999;
	top:0; left:0; width:100%; height:100%;
	background: $darkblue;

	// display: flex;
	// align-items: center;
}

.pace {
	width: 100%;
	//max-width: $site-outer-max;
	margin: 0; //auto;
	background: tint($darkblue,7%);
	overflow: hidden;
}

.pace-progress {
	&:before {
		display: block; position:absolute;
		content: attr(data-progress);
		color: $white;
		font-size: 2em;
	}
}

.pace-progress-inner {
	height: .325em;
	background: $primary;
	transform: translateX(-100%);
}



body {
	overflow: hidden;

	&.is-pagetransitioning {
		overflow: hidden;
		pointer-events: none;
	}

	&.is-fullyloaded {
		overflow: auto;
	}
}




// inview transitions

// .dhr-headline--sleeve {
// 	position: relative; 
// 	overflow: hidden;
// }


[data-inview="fade-up-in"] {
	opacity: 0;
	transform: translateY(-50px);
	transition: opacity 1s ease, transform 1s $ease-out-quart;

	&.is-inview {
		opacity: 1;
		transform: translateY(0);
	}
}




.dhr-splttxt-line {
	overflow: hidden;
	position: relative;
}






// [data-inview="headline"] {

// 	.dhr-preheadline {
// 		transform: translateY(200%);
// 		transition: transform 1s $ease-out-circ;
// 	}
// 	.dhr-sectionheadline {
// 		transform: translateY(200%);
// 		transition: transform 1s $ease-out-circ 0.15s;
// 	}

// 	&.is-inview {
// 		.dhr-sectionheadline, .dhr-preheadline {
// 			transform: translateY(0);
// 		}
// 	}
// }




// [data-inview="fade"] {
// 	opacity: 0;
// 	transform: translateY(20px);
// 	transition: opacity 1s ease, transform 1s $ease-out-circ;

// 	&.is-inview {
// 		transform: translateY(0);
// 		opacity: 1;
// 	}
// }



