


// loading screen / pace
.dhr-loadscreen {
	position: fixed; z-index: 999999;
	top:0; left:0; width:100%; height:100%;
	background: $darkblue;

	// display: flex;
	// align-items: center;
}

.pace {
	width: 100%;
	//max-width: $site-outer-max;
	margin: 0; //auto;
	background: tint($darkblue,7%);
	overflow: hidden;
}

.pace-progress {
	&:before {
		display: block; position:absolute;
		content: attr(data-progress);
		color: $white;
		font-size: 2em;
	}
}

.pace-progress-inner {
	height: .325em;
	background: $primary;
	transform: translateX(-100%);
}



body {
	overflow: hidden;

	&.is-pagetransitioning {
		overflow: hidden;
		pointer-events: none;
	}

	&.is-fullyloaded {
		overflow: auto;
	}
}





// inview transitions
//-----------------------------------------------------------//

$inview_transition_duration: 1.2s;
$inview_transition_delay: 0.15s;
$inview_transition_ease: $ease-out-quart;

// [data-inview="fade-up-in"] {
// 	opacity: 0;
// 	transform: translateY(-40px);
// 	transition: opacity $inview_transition_duration linear, transform $inview_transition_duration $inview_transition_ease;
// 	transition-delay: $inview_transition_delay;

// 	&.is-inview {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }



// [data-inview="children"] {
// 	> * {
// 		opacity: 0;
// 		transform: translateY(-50px);
// 		transform: translateY(-3rem);
// 		transition: opacity $inview_transition_duration ease, transform $inview_transition_duration $ease-out-quart;

// 		@for $i from 1 through 7 {
// 			&:nth-child(#{$i}) {
// 				transition-delay: $inview_transition_delay*$i;
// 			}
// 		}
// 	}

// 	&.is-inview {
// 		> * {
// 			opacity: 1;
// 			transform: translateY(0);
// 		}
// 	}
// }



// [data-inview="imgoverlay"] {
	
// 	> figure {
// 		opacity: 0;
// 		transform: translateX(-20%);
// 		transition: transform 1.5s $ease-out-quart;
// 	}


// 	.dhr-testify--img-overlay {
// 		opacity: 0;
// 		transform: translateX(-100%);
// 		transition: transform 1.9s $ease-out-quart;
// 	}


// 	&.is-inview {
		
// 		.dhr-testify--img-overlay, figure {
// 			opacity: 1;
// 			transform: translateX(0);
// 		}

// 	}

// }









