.dhr-next-episode--anchor {
  position: relative;
  overflow: hidden;
  .to-next-ep {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  &:hover {
    .dark-mark-over {
      animation: rotateLogo 140s infinite;
    }
    .light-mark-under {
      animation: rotateLogoReverse 190s infinite;
    }
    .next-episode-bg {
      transform: scale(1.2);
    }
  }
}

@keyframes rotateLogo {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateLogoReverse {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.next-episode-bg {
  position: absolute;
  top: 0; left: 0;
  height: 110%;
  width: 110%;
  z-index: -3;
  background-image: url('../img/next-episode-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 8s ease-in-out;
}


.light-mark-under, .dark-mark-over {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  transition: all 8s ease-in-out;
}

.light-mark-under {
  z-index: -2;
  width: 80%;
  path {
    fill: rgba(255, 255, 255, 0.1);
  }
}

.dark-mark-over {
  z-index: -1;
  width: 40%;
  svg {
    // transform: rotate(180deg);
  }
  path {
    fill: $secondary;
    opacity: 0.3;
  }
}


.next-episode--content {
  text-align: center;
}

.play-now {
  color: $white;
  strong {
    font-size: .85em;
  }
  i {
    vertical-align: middle;
    font-size: 2em;
    color: $primary;
    padding-left: 1em;
    padding-right: 1em;
  }
}
