.dhr-next-episode--anchor {
  position: relative;
  overflow: hidden;
  &:hover {
    .next-episode-bg {
      transform: scale(1.1);
    }
  }
}

.next-episode-bg {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  background-image: url('../img/next-episode-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
}


.light-mark-under, .dark-mark-over {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

}

.light-mark-under {
  z-index: -2;
  width: 80%;
  path {
    fill: rgba(255, 255, 255, 0.1);
  }
}

.dark-mark-over {
  z-index: -1;
  width: 40%;
  svg {
    // transform: rotate(180deg);
  }
  path {
    fill: $secondary;
    mix-blend-mode: multiply;
  }
}


.next-episode--content {
  width: 50%;
  margin: auto;
  text-align: center;
  p {
    color: $white;
    i {
      font-size: 2em;
      color: $primary;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
