
.dhr-nextepisode {
  position: relative; z-index:599;
  overflow: hidden;

  &--content {
    padding-top: 2.3em;
    text-align: center;
  }
  
  > a {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    &:hover {
      
      ~ .dhr-coverimg {
        transform: scale(1.03);

        &:after {
          opacity: 0.5;
        }
      }

      ~ .dark-mark-over svg {
        transform: scale(0.95) rotate(9deg);
        opacity: 0.65;
      }
    }
  }

  .dhr-coverimg {
    background-position: center top;
    background-repeat: no-repeat;
    transition: transform 0.8s $ease-out-circ;
    &:after {
      content:""; display:block; position:absolute;
      top:0; left:0; width:100%; height:100%;
      background: rgba($darkblue, 0.65);
      mix-blend-mode: multiply;
      transition: opacity 0.5s ease;
    }
  }
}



.light-mark-under, .dark-mark-over {
  position: absolute; z-index: 10;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  svg {
    transition: all .5s $ease-out-circ;
  }
}

.light-mark-under {
  width: 80%;
  path {
    fill: rgba($white, 0.035);
  }
  .no-backgroundblendmode & {
    path {
      fill: rgba($white,0.1);
    }
  }
}

.dark-mark-over {
  width: 42.5%;
  mix-blend-mode: multiply;
  path {
    fill: rgba($secondary,0.6);
  }

  .no-backgroundblendmode & {
    path {
      fill: rgba($secondary,0.1);
    }
  }
}






// PLay Icon Lockup ------------------------//

.dhr-playlockup {
  position: relative;
  color: $white;
  display: inline-block;
  width:4em; height:4em;

  strong {
    display: block;
    line-height: 1;
    letter-spacing: 0.07em;
    position: absolute;
    top:48%; left: 110%;
    text-transform: uppercase;
    font-size: .85em;
    transform: translateY(-50%);
    transition: transform .45s $ease-out-back;

    &:first-of-type {
      left:auto; right: 110%;
    }
  }
}


.dhr-playlockup--icon {
  position: relative;
  overflow: hidden;
  line-height: 2;
  
  span {
    display: block;
    transition: transform .5s $ease-out-quart, opacity .5s ease;
  }
  i {
    font-size: 2em;
    color: $primary;
    display: block;
    margin-right: -2px;
  }
}

.dhr-playlockup--icon-bot {
  position: absolute;
  top:100%; left:0; width:100%; height:100%;
}


//hover states (~ and descendant versions)

.dhr-nextepisode a:hover + .inner, #dhr-features-vidbtn:hover {
  
  .dhr-playlockup {
    strong {
      transform: translate(-0.2em, -50%);
      + strong {
        transform: translate(0.2em, -50%);
      }
    }
  }
  .dhr-playlockup--icon-top {
    transform: translateY(-100%);
    opacity: 0;
  }
  .dhr-playlockup--icon-bot {
    transform: translateY(-100%);
    opacity: 1;
  }

}








@media (min-width:$bp-md) {
  

  .dhr-nextepisode--content {
    padding-top: 3em;
  }
}




@media (min-width:$bp-md) {
  
}




@media (min-width:$bp-xxl) {
  
  .dhr-nextepisode--play {
    margin-bottom: -.5em;
  }
}








