

.dhr-testify {


	.dhr-markbg {
		svg { 
			transform: translateY(-68.8%);
		}
	}
}


.dhr-testify--img {
	position: relative; z-index:199;
	margin-bottom: 18.5%;
	figure {
		img {
			display:block;
			width:100%; height:auto;
			border-radius: $global-border-radius;
		}
	}


	&-overlay {
		position: absolute; right: 50%; top:-10%;
		width: 150%; height: 120%;
		background: rgba($secondary, 0.95);
		mix-blend-mode: multiply;
		border-radius: 0 $global-border-radius $global-border-radius 0;

		.no-backgroundblendmode & {
			z-index: -1;
		}
	}
}


.dhr-testify--content {
	blockquote {
		margin:0 0 1em; padding:0;
	}
}


.dhr-testify--social {
	padding-top: 2em;
	h5 {
		color: darken($white,25%);
		font-family: $body-font-family;
		text-transform: uppercase;
		font-weight: bold;
		font-size: .8em;
		letter-spacing: 0.05em;
	}
	ul {
		list-style: none;
		margin:0; padding:0;

		li {
			display: inline-block;
			margin-right: .7em;
			font-size: 1.3em;
		}
		a {
			display: block;
			color: $darkblue;
			transition: color .3s ease;
			&:hover {
				color: $secondary;
			}
		}
	}
}




@media (min-width:$bp-md) {

	.dhr-testify {
		> .inner {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&--wider {

		}
	}
	
	.dhr-testify--img {
		width: 45%;
		margin-bottom: 0;
		margin-right: 5%;
	}
	.dhr-testify--content {
		width: 50%;
	}

	.dhr-testify--wider {
		
		.dhr-testify--img {
			width: 50%;
		}
		.dhr-testify--content {
			width: 45%;
		}
	}


}

@media (min-width:$bp-lg) {

	
}

@media (min-width:$bp-xl) {

	
}
