

.dhr-testify {

	.dhr-markbg {
		display: none;
		svg { 
			transform: translateY(-66.5%);
		}
	}
}


.dhr-testify--img {
	position: relative; z-index:199;
	margin-bottom: 4em;
	
	figure {
		img {
			display:block;
			width:100%; height:auto;
			border-radius: $global-border-radius;
		}
	}

	//multi images in column
	&-multi {
		figure {
			img {
				border-radius: 0px;
			}
			&:first-child {
				img {
					border-radius: $global-border-radius $global-border-radius 0 0;
				}
			}
			&:last-of-type {
				img {
					border-radius: 0 0 $global-border-radius $global-border-radius;
				}
			}
		}
	}



	&-overlay {
		position: absolute; right: 50%; top:-12em; bottom:-2em; z-index: -1;
		width: 150%; height: auto;
		background: rgba($secondary, 0.95);
		border-radius: 0 $global-border-radius $global-border-radius 0;

		.backgroundblendmode .version-blendmoded & {
			mix-blend-mode: multiply;
			z-index:2;
		}
	}
}



.dhr-testify--content {
	blockquote {
		margin:0 0 1em; padding:0;
	}
	cite {
		display: block;
		line-height: 1;
		font-style: italic;
		font-size: 0.85em;
		margin-bottom: 2.5em;
		color: darken($white,30%);
	}
}



.dhr-testify--interview-transcript {
	padding-bottom: 1.5em;
	h5 {
		font-family: $body-font-family;
		font-size: 1em;
		font-weight: bold;
	}

	ul {
		list-style: none;
		margin: 0; padding:0;
		li {
			margin-bottom: 2em;
		}
	}

	cite {
		display: block;
		text-transform: uppercase;
		color: $secondary;
		font-weight: bold;
		font-size: .8em;
		font-style: normal;
		margin-bottom: .25em;
	}
}


.dhr-testify--social {
	padding-top: 2em;
	h5 {
		color: darken($white,25%);
		font-family: $body-font-family;
		text-transform: uppercase;
		font-weight: bold;
		font-size: .8em;
		letter-spacing: 0.05em;
	}
	ul {
		list-style: none;
		margin:0; padding:0;

		li {
			display: inline-block;
			margin-right: .7em;
			font-size: 1.3em;
		}
		a {
			display: block;
			color: $darkblue;
			transition: color .3s ease;
			&:hover {
				color: $secondary;
			}
		}
	}
}




@media (min-width:$bp-md) {

	.dhr-testify {
		
		.dhr-markbg {
			display: block;
		}

		> .inner {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
	

	.dhr-testify--img {
		width: 45%;
		margin-bottom: 0;
		margin-right: 5%;
	}
	.dhr-testify--content {
		width: 50%;
	}
	
	//wider columns version
	.dhr-testify--wider {
		
		.dhr-testify--img {
			width: 50%;
		}
		.dhr-testify--content {
			width: 45%;
		}
	}

	
	//overlay
	.dhr-testify--img-overlay {
		top: -2em;
	}

}




@media (min-width:$bp-lg) {

	
}





@media (min-width:$bp-xl) {

	.dhr-testify--img-overlay {
		top: -3em;
		bottom: -3em;
	}


	//narrow columns version
	.dhr-testify--narrow {
		
		.dhr-testify--img {
			width: 45%;
			margin-right: 8%;
			
		}
		.dhr-testify--content {
			width: 45%;
		}
	}

	
}



@media (min-width:$bp-xxl) {

	.dhr-testify--interview-transcript {
		li {
			margin-bottom: 2.5em;
		}
	}


	//narrow columns version
	.dhr-testify--narrow {
		
		.dhr-testify--img {
			width: 45%;
			margin-right: 10%;
			
		}
		.dhr-testify--content {
			width: 45%;
		}
	}


}



