
*,*:before,*:after {box-sizing:border-box;}



body {
	@include font-smoothing();
	font-feature-settings: "liga";

	cursor: default;

	&:before {
		content:'xs';
		display: none;
	}
	@media (min-width:$bp-sm) {
		&:before {
			content:'sm';
		}
	}
	@media (min-width:$bp-md) {
		&:before {
			content:'md';
		}
	}
	@media (min-width:$bp-lg) {
		&:before {
			content:'lg';
		}
	}
	@media (min-width:$bp-xl) {
		font-size: 115%;
		&:before {
			content:'xl';
		}
	}
	@media (min-width:$bp-xxl) {
		font-size: 125%;
		&:before {
			content:'xxl';
		}
	}


	&.is-showing-contactmodal {
		overflow: hidden;
	}
}


// type/ headings
#{headings()} {
	word-wrap: break-word;
	font-family: $heading-font-family;
}

.dhr-preheadline {
	text-transform: uppercase;
	color: $secondary;
	font-size: .9em;
	font-family: $body-font-family;
	letter-spacing: 0.035em;
}

//main page headline
.dhr-mainheadline {
	color: $white;

	@media (min-width:$bp-lg) {
		font-size: 2.4em;
	}
}


//main page headline
.dhr-sectionheadline {
	font-size: 1.4em;
	margin-bottom: .7em;

	@media (min-width:$bp-lg) {
		font-size: 1.8em;
	}
}




// wrapper/container elements
.inner {
	width: 90%;
	max-width: 71.5em;
	margin-right: auto;
	margin-left: auto;
	@include clearfix();
}

.inner-small, .inner-medium,
.inner-large, .inner-xlarge {
	margin-right: auto;
	margin-left: auto;
}

.inner-small {
	//width: 60%;
	max-width: 36em;
}
.inner-medium {
	max-width: 48em;
}
.inner-large {
	max-width: 58em;
}
.inner-xlarge {
	max-width: 64.5em;
}




// Layout / Blocks -------------//

//<main> element
.dhr-main {
	max-width: $site-outer-max;
	margin: 0 auto;
	//min-height: 200vh;
}


.dhr-block {
	position: relative;
	overflow: hidden;
	padding: 3em 0;

	@media (min-width:$bp-md) {
		padding: 5em 0;
	}
	@media (min-width:$bp-lg) {
		padding: 6em 0;
	}
	@media (min-width:$bp-xl) {
		padding: 7em 0;
	}
	@media (min-width:$bp-xxl) {
		padding: 8.5em 0;
	}

	> .inner {
		position: relative; z-index:199;
	}

	&--light {
		background: shade($white,2.75%);
	}
	&--dark {
		background: $darkblue;
	}

	&--content {
		p:last-of-type {
			margin-bottom: 1.5em;
		}
	}
}


.dhr-introblock {
	padding-top: 65%;

	@media (min-width:440px) {
		padding-top: 16em;
	}
	
	@media (min-width:$bp-md) {
		padding-top: 16%;
	}

	@media (min-width:$bp-xxl) {
		padding-top: 14em;
	}

}




// big logomark background
.dhr-markbg {
	display:block; position:absolute; z-index: 0;
	top:0; left:-2.5%; width: 103%;
	svg {
		transform: translateY(-60.5%);
	}
}



//single image
.dhr-oneimg {
	padding: 0 !important;

	&:before {
		content:""; display:block; position:absolute;
		bottom:-1%; left:0; width:100%; height:51%;
		background: $darkblue;
	}

	figure {
		position: relative;
		margin: 1em 0;
		img {
			display: block;
			width: 100%; height:auto;
			border-radius: $global-border-radius;
		}

		.dhr-baseplate {
			width: 90%;
			height: 80%;
		}
	}
}






//features list
.dhr-featureslist {
	> .inner {
		display: flex;
		align-item: flex-start;
		flex-direction: column;
		justify-content: flex-start;
	}
}

.dhr-featureitem--content {
	color: $white;
	#{headings()} {
		color: $white;
	}
}

.dhr-featureitem {
	margin-bottom: 2.5em;
	
	figure {
		position: relative;
		img {
			display:block;
			width:100%; height:auto;
			border-radius: $global-border-radius;
		}
	}

	&--content {
		padding-top: 2em;

		.dhr-preheadline {
			color: $secondary;
		}
	}
}


@media (min-width:$bp-md) {

	.dhr-featureslist {
		> .inner {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.dhr-featureitem {
		width: 47%;
		margin-bottom: 4em;
		&:nth-child(odd) {
			margin-right: 6%;
		}
	}
}


@media (min-width:$bp-lg) {
	
	.dhr-featureitem {
		width: 45%;
		margin-bottom: 4em;
		&:nth-child(odd) {
			margin-right: 10%;
		}
	}

}



@media (min-width:$bp-xl) {

	.dhr-featureitem {
		margin-bottom: 5.5em;

		&:nth-child(1) {
			transform: translateY(1em);
		}
		&:nth-child(4) {
			transform: translateY(1.5em);
		}
	}
}




@media (min-width:$bp-xxl) {
	
		.dhr-featureitem {
			width: 42%;
			margin-bottom: 8em;
			&:nth-child(odd) {
				margin-right: 16%;
			}

			&:nth-child(1) {
				transform: translateY(2em);
			}
			&:nth-child(4) {
				transform: translateY(3em);
			}
		}
	
}










// Video Card w/ play btn
.dhr-videocard--outer	{
	.inner {
		position: relative;
		z-index:199;
	}
}

.dhr-videocard {
	position: absolute;
	top:0; right:50%;
	width: 100%;
	max-width: 23.5em;
	transform: translate(50%, -2em);

	transform-style: preserve-3d;
	perspective: 1400px;


	figure {
		img {
			display:block;
			border-radius: $global-border-radius;
			width: 100%; height:auto;
			box-shadow: rgba($darkblue,0.2) 0 0 1em;
		}
	}

	&--play {
		line-height: 0;
		position: absolute;
		top:50%; left:50%;
		transform: translate(-50%, -50%);
	}

	&--link {
		display: block;
		transition: transform .7s $ease-out-circ;
	}
}


@media (min-width:$bp-md) {

	.dhr-videocard {
		right:0;
		width: 42.5%;
		transform: translate(0, -50%);
	}
}









.dhr-divider {
	border:none;
	margin:0;
	height: 2px;
	background: rgba($white,0.3);
}







// BUTTONS
button.dhr-button {
	border:none;
}

a.dhr-button, button.dhr-button {
	display: inline-block;
	padding: .7em 1.5em;
	background: $primary;
	color: $darkblue;
	font-size: .9em;
	border-radius: 5px;
	font-weight: bold;
	transition: background .3s ease;

	&:hover {
		background: shade($primary, 10%);
	}
	&:active {
		transform: translateY(1px);
	}
}







//HELPER CLASSES
.sr-only {
	@include sr-only();
}

//cover an area 100%
.dhr-coverimg {
	display:block; position:absolute;
	top:0; left:0; width:100%; height:100%;
	background-size: cover;
	background-position: center top;
}

//offset panel behind imgs
.dhr-baseplate {
	display:block;
	position: absolute; z-index:-1;
	bottom: -0.5em; right:-0.5em;
	width:100%; height:100%;
	border-radius: $global-border-radius;
	&--blue {
		background: $secondary;
	}
	&--dark {
		background: tint($darkblue,5%);
	}

	@media (min-width:$bp-xl) {
		bottom: -1em; right:-1em;
	}
}










// FORMS ----------------------------------------//
.dhr-formfield {

	input[type="email"], input[type="text"] {
		@include appearance(none); outline:none; border:none;
		padding: 0;
		background: transparent;
		display: block;
		width: 100%; 
		border:none;
		border-bottom: 2px solid tint($darkblue,10%);
	}
}










