
*,*:before,*:after {box-sizing:border-box;}



body {
	@include font-smoothing();
	&:before {
		content:'xs';
		display: none;
	}
	@media (min-width:$bp-sm) {
		&:before {
			content:'sm';
		}
	}
	@media (min-width:$bp-md) {
		&:before {
			content:'md';
		}
	}
	@media (min-width:$bp-lg) {
		&:before {
			content:'lg';
		}
	}
	@media (min-width:$bp-xl) {
		font-size: 115%;
		&:before {
			content:'xl';
		}
	}
	@media (min-width:$bp-xxl) {
		font-size: 125%;
		&:before {
			content:'xxl';
		}
	}
}


// type/ headings
#{headings()} {
	font-family: $heading-font-family;
}

.dhr-preheadline {
	text-transform: uppercase;
	color: $secondary;
	font-size: .9em;
	font-family: $body-font-family;
	letter-spacing: 0.035em;
}

//main page headline
.dhr-mainheadline {
	color: $white;

	@media (min-width:$bp-lg) {
		font-size: 2.4em;
	}
}


//main page headline
.dhr-sectionheadline {
	font-size: 1.4em;
	margin-bottom: .7em;

	@media (min-width:$bp-lg) {
		font-size: 1.8em;
	}
}




// wrapper/container elements

.inner {
	width: 90%;
	max-width: 71.5em;
	margin-right: auto;
	margin-left: auto;
	@include clearfix();
}

.inner-small {
	max-width: 36em;
	margin-right: auto;
	margin-left: auto;
}
.inner-medium {
	max-width: 48em;
	margin-right: auto;
	margin-left: auto;
}
.inner-large {
	max-width: 60em;
	margin-right: auto;
	margin-left: auto;
}



// Layout / Blocks -------------//

//<main> element
.dhr-main {
	max-width: $site-outer-max;
	margin: 0 auto;
	//min-height: 200vh;
}


.dhr-block {
	position: relative;
	overflow: hidden;
	padding: 3em 0;

	@media (min-width:$bp-md) {
		padding: 5em 0;
	}
	@media (min-width:$bp-lg) {
		padding: 6em 0;
	}
	@media (min-width:$bp-xl) {
		padding: 7em 0;
	}

	> .inner {
		position: relative; z-index:199;
	}

	&--light {
		background: shade($white,3%);
	}

	&--content {
		p:last-of-type {
			margin-bottom: 1.5em;
		}
	}
}


.dhr-introblock {
	padding-top: 65%;

	@media (min-width:440px) {
		padding-top: 16em;
	}
	
	@media (min-width:$bp-md) {
		padding-top: 16%;
	}

	@media (min-width:$bp-xxl) {
		padding-top: 14em;
	}

}




// big logomark background
.dhr-markbg {
	display:block; position:absolute; z-index: 0;
	top:0; left:0; width: 100%;
	svg {
		transform: translateY(-65%) rotate(-1deg);
	}
}





// Video Card w/ play btn
.dhr-videocard--outer	{
	.inner {
		position: relative;
		z-index:199;
	}
}

.dhr-videocard {
	position: absolute;
	top:0; right:50%;
	width: 100%;
	max-width: 23.5em;
	transform: translate(50%, -2em);

	figure {
		img {
			display:block;
			border-radius: .25em;
			width: 100%; height:auto;
			box-shadow: rgba($darkblue,0.2) 0 0 1em;
		}
	}

	&--play {
		line-height: 0;
		position: absolute;
		top:50%; left:50%;
		transform: translate(-50%, -50%);
	}
}


@media (min-width:$bp-md) {

	.dhr-videocard {
		right:0;
		width: 42%;
		transform: translate(0, -50%);
	}
}









.dhr-divider {
	border:none;
	margin:0;
	height: 2px;
	background: rgba($white,0.3);
}











// BUTTONS
a.dhr-button {
	display: inline-block;
	padding: .7em 1.5em;
	background: $primary;
	color: $darkblue;
	font-size: .9em;
	border-radius: 5px;
	font-weight: bold;
	transition: background .3s ease;

	&:hover {
		background: shade($primary, 10%);
	}
	&:active {
		transform: translateY(1px);
	}
}







//HELPER CLASSES
.sr-only {
	@include sr-only();
}

.dhr-coverimg {
	display:block; position:absolute;
	top:0; left:0; width:100%; height:100%;
	background-size: cover;
	background-position: center top;
}










// FORMS ----------------------------------------//

.dhr-form--inner {
	max-width: 992px;
	margin-right: auto;
	margin-left: auto;
}

.dhr-formfield {

	input[type="email"], input[type="text"] {
		@include appearance(none); outline:none; border:none;
		padding: 0;
		background: transparent;
		display: block;
		width: 100%; 
		border:none;
		border-bottom: 2px solid tint($darkblue,10%);
	}
}
















// HOMEPAGE EPISODE LIST ----------------------------------------//


.dhr-episodelist {
	position: relative;
	&:before {
		content:""; display:block; position:absolute;
		bottom:0; left:0; width:100%; height: 12.5%;
		background: $darkblue;
	}
}

.dhr-episodeitem {
	position: relative;
	margin-bottom: 5%;

	figure {
		position: relative;
		background: $darkblue;
		overflow: hidden;
		border-radius: .25em;

		&:after {
			display:block; content:""; display:block;
			position: absolute; 
			top:0; left:0; width:100%; height:100%;
			background: rgba($darkblue,0.65);
			opacity: 1;
			transition: opacity .35s ease;
			mix-blend-mode: multiply;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: .25em;
			opacity: 1;
			transition: transform .35s $ease-out-quart;
		}
	}

	&:not([class*="locked"]) a:hover {
		figure:after {
			opacity: 0.65;
		}
		figure img {
			transform: scale(1.05);
		}
	}

	&--content {
		position: absolute; z-index:299;
		top:50%; left:0; width:100%;
		transform: translateY(-50%);
		text-align: center;

		h4 {
			font-family: $body-font-family;
			margin: 0;
			text-transform: uppercase;
			color: $white;
		}
	}
	&--liner {
		padding: 0 .5em .5em;
	}

	&--icon {
		font-size: 1.7em;
	}
	&--activeborder {
		display: block; position:absolute; z-index:99;
		bottom:0; left:0; width:100%;
		border-radius: .5em;
		height: .5em;
		background: $primary;
	}

	
	//overrides for the locked state
	&--locked {
		
		.dhr-episodeitem--icon, .dhr-episodeitem--activeborder {
			display: none;
		}

		a {
			cursor: default; //not-allowed
		}
	}

} //end episodde item



@media (min-width:$bp-md) {

	.dhr-episodelist {
		&:before {
			height: 90%;
			background: linear-gradient(to top, $darkblue 0%, rgba($darkblue, 0.99) 25%, rgba($darkblue,0.0001) 100%);
		}
	}
	
	.dhr-episodeitem {
		width: 49%;
		float: left;
		margin-right: 2%;
		margin-bottom: 2%;

		&:nth-child(even) {
			margin-right: 0;
		}
	}

}










