
// PLAY BTN --------------------------------------------//

.dhr-playbtn {
	display: block;
	position: relative; 
	width: 10em; height: 10em;
	border-radius: 50%;
	overflow:hidden;
	transition: transform .2s ease;

	svg {
		position: absolute;
		top:0; left:0; width:100%; height:100%;

		circle {
			fill: none;
			stroke-width: 12;
		}

		&.dhr-playbtn--circ-back {
			circle {
				stroke: rgba($white,0.25);
			}
		}
		&.dhr-playbtn--circ-front {
			transform: rotate(-90deg);
			transition: transform 1s $ease-in-out-quart;
			circle {
				stroke: $primary;
				stroke-dasharray: 580;
				stroke-dashoffset: 580;
				opacity: 0;
				transition: stroke-dashoffset 0.1s $ease-in-out-quart 0.4s, opacity 0.35s linear;
			}
		}
	}
	

	&--icon {
		display:block; position:absolute;
		text-align: center;
		line-height: 0;
		top:50%; left:0; width:100%;
		font-size: 1.65em;
		transform: translateY(-50%) scale(1);
		i {
			display:block;
			transition: all 1s ease;
		}
	}
	
}



//parent anchor states ------------//
a {

	&:hover .dhr-playbtn, .is-hovering & {
		
		svg.dhr-playbtn--circ-front {
			transform: rotate(-90deg);
			circle {
				transition: stroke-dashoffset 0.8s $ease-in-out-quart, opacity 0.5s linear;
			}
		}
		
		svg.dhr-playbtn--circ-front circle {
			opacity: 1;
			stroke-dashoffset: 0;
		}

		.dhr-playbtn--icon {
			i { 
				color: $white; 
				transform: scale(1.15);
			}
		}
	}

	&:active .dhr-playbtn {
		transform: scale(0.95);
	}
}







// VID PLAYER OVERLAY

.dhr-playeroverlay {
	position: fixed; top:0; left:0; width:100%; height:100%; z-index: 99998;
	background: rgba($darkblue, 0.925);
}

.dhr-playeroverlay--content {
	position: fixed; top:0; left:0; width:100%; height:100%; z-index: 99999;
	display: flex;
	align-items: center;
}


.dhr-fluidvideo {
	&.is-singlepage-player {
		width: 100%;

		.dhr-fluidvideo--wrapper {
			width: 94%;
			margin-right: auto;
			margin-left: auto;
			max-width: $grid-outer-max;
		}
		
	}
} 

@media (min-width:$bp-xl) {

}



// VIDEO PLAYER MODS --------------------------------------//

// .plyr {
// 	video {
// 		border-radius: $global-border-radius !important;
// 	}

// 	.plyr__video-wrapper {
// 		border-radius: $global-border-radius !important;
// 	}
// }


button[id^="dhr-videoclose"] {
	border:none; outline:none; 
	@include appearance(none);
	position: absolute; z-index: 0;
	bottom: 100%; left: 50%;
	margin-left: -2em;
	font-size: .8em;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba($white,0.3);
	background: none;
	padding: .35em 0;
	opacity: 0;
	visibility: hidden;
	width: 4em; height: 4em;
	text-align: center;
	border-radius: 5px 5px 0 0;
	transform: translateY(2.5em);
	transition: all .5s ease;

	i {
		display: block;
		font-size: 2em;
		font-weight: normal;
		transition: transform .35s $ease-out-circ;
	}

	&:hover {
		color: $white;
	}
}



body.is-playingvideo {

	button[id^="dhr-videoclose"] {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}





@media (min-width:$bp-lg) {
	
	.dhr-playbtn {
		width:12em; height:12em;
	}


}


@media (min-width:$bp-xl) {
	
	.dhr-playbtn {
		width:14em; height:14em;
	}

}


@media (min-width:$bp-xxl) {
	
	.dhr-playbtn {
		width:14.5em; height:14.5em;
	}

}





