

<section id="dhr-contactmodal" class="dhr-contactmodal">
	
	<div class="dhr-contactmodal--top">
		<div class="inner">
			<div class="dhr-contactomodal--close">
				<button id="dhr-modalclose">
					<span class="sr-only">Close</span>
					<i class="icon-cancel" aria-hidden="true"></i>
				</button>
			</div>

			<div class="dhr-contactmodal--logo">
				<a href="/">
					{{> logo-svg id='contactmodal-logo-svg'}}
				</a>
			</div>
		</div>
	</div>
	
	<div class="dhr-contactmodal--body">
		<div class="inner">

			<div class="dhr-contactmodal--intro">
				<div class="inner-small">
					<h5 class="dhr-preheadline">Contact Us</h5>
					<h2 class="dhr-sectionheadline">Help is just a click away</h2>
					<p>We don't outsource. DreamHost employees are...DreamHost employees!  If you're already a customer, contact support through your <a href="#0">control panel</a>.</p>
				</div>
			</div>
			
			<div class="dhr-contactmodal--form">
				<form id="dhr-contact-form" class="dhr-inlineform" action="">
					<p>
						<span class="dhr-inlineform--word">Hello, my name is</span>
						<span class="dhr-inlineform--input">
							<input type="text" id="dhr-contact-firstname-input" placeholder="First Name">
							<label for="dhr-contact-firstname-input">First Name</label>
						</span>
						<span class="dhr-inlineform--input">
							<input type="text" id="dhr-contact-lastname-input" placeholder="Last Name">
							<label for="dhr-contact-lastname-input">Last Name</label>
						</span>
						<span class="dhr-inlineform--word">,from</span>
						<span class="dhr-inlineform--input">
							<input type="text" id="dhr-contact-company-input" placeholder="Company Name">
							<label for="dhr-contact-company-input">Company Name</label>
						</span>
						<span class="dhr-inlineform--word">.</span>
					</p>
					<p>
						<span class="dhr-inlineform--word">I would like to contact</span>
						<span class="dhr-inlineform--input">
							<select name="" id="dhr-contact-dept-input">
								<option value="">-- Select One</option>
								<option value="sales">&nbsp; Sales</option>
								<option value="support">&nbsp; Support</option>
							</select>	
							<label for="dhr-contact-dept-input">Department</label>
						</span>
						<span class="dhr-inlineform--word">regarding</span>
						<span class="dhr-inlineform--input">
							<input type="text" id="dhr-contact-question-input" placeholder="Briefly write your question">
							<label for="dhr-contact-question-input">Question</label>
						</span>
					</p>
					<p>
						<span class="dhr-inlineform--word">You can reach me at</span>
						<span class="dhr-inlineform--input">
							<input type="email" id="dhr-contact-email-input" placeholder="Email Address">
							<label for="dhr-contact-email-input">Email Address</label>
						</span>
						<span class="dhr-inlineform--word">or call</span>
						<span class="dhr-inlineform--input">
							<input type="tel" id="dhr-contact-phone-input" placeholder="Phone Number">
							<label for="dhr-contact-phone-input">Phone Number</label>
						</span>
						<span>Talk to you soon!</span>
					</p>
					<div class="dhr-contactmodal--btns">
						<button type="submit" class="dhr-button" data-text="Send Your Question">Send Your Question</button>
					</div>
				</form>
			</div>

			<div class="dhr-contactmodal--social">
				{{> social-icons}}
			</div>

		</div>
	</div>

</section>