

<section id="dhr-contactmodal" class="dhr-contactmodal">
	
	<div class="dhr-contactmodal--top">
		<div class="inner">
			<div class="dhr-contactomodal--close">
				<button id="dhr-modalclose">
					<span class="sr-only">Close</span>
					<i class="icon-cancel" aria-hidden="true"></i>
				</button>
			</div>

			<div class="dhr-contactmodal--logo">
				<a href="/" class="dhr-logo--contain">
					<span>{{> logo-svg id='contactmodal-logo-svg'}}</span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="dhr-contactmodal--body">
		<div class="dhr-contactmodal--body-liner">

		<div class="inner">

			<div class="dhr-contactmodal--intro">
				<div class="inner-small">
					<h5 class="dhr-preheadline">Contact Us</h5>
					<h2 class="dhr-sectionheadline">Help is just a click away</h2>
					<p>We don't outsource. DreamHost employees are...DreamHost employees!  If you're already a customer, contact support through your <a href="#0">control panel</a>.</p>
				</div>
			</div>
			
			<div class="dhr-contactmodal--form">
				<form id="dhr-contact-form" class="dhr-inlineform" method="POST" action="https://www.getdrip.com/forms/58648395/submissions">
					<p>
						<span class="dhr-inlineform--word">Hello, my name is</span>
						<span class="dhr-inlineform--input">
							<input type="text" id="dhr-contact-firstname-input" name="fields[first_name]" placeholder="First Name">
							<label for="dhr-contact-firstname-input">First Name</label>
						</span>
						<span class="dhr-inlineform--input">
							<input type="text" id="dhr-contact-lastname-input" name="fields[last_name]" placeholder="Last Name">
							<label for="dhr-contact-lastname-input">Last Name</label>
						</span>
						<span class="dhr-inlineform--word">,from</span>
						<span class="dhr-inlineform--input">
							<input type="text" id="dhr-contact-company-input" name="fields[company_name]" placeholder="Company Name">
							<label for="dhr-contact-company-input">Company Name</label>
						</span>
						<span class="dhr-inlineform--word">.</span>
					</p>
					<p>
						<span class="dhr-inlineform--word">I would like to contact</span>
						<span class="dhr-inlineform--input" data-field-type="select">
							<select name="fields[department]" id="dhr-contact-dept-input">
								<option value="">-- Select One</option>
								<option value="sales">&nbsp; Sales</option>
								<option value="support">&nbsp; Support</option>
							</select>	
							<label for="dhr-contact-dept-input">Department</label>
						</span>
						<span class="dhr-inlineform--word">regarding</span>
						<span class="dhr-inlineform--input dhr-inlineform--input-question">
							<input type="text" id="dhr-contact-question-input" name="fields[question]" placeholder="Briefly write your question">
							<label for="dhr-contact-question-input">Question</label>
						</span>
					</p>
					<p>
						<span class="dhr-inlineform--word">You can reach me at</span>
						<span class="dhr-inlineform--input">
							<input type="email" id="dhr-contact-email-input" name="fields[email]" placeholder="Email Address">
							<label for="dhr-contact-email-input">Email Address</label>
						</span>
						<span class="dhr-inlineform--word">or call</span>
						<span class="dhr-inlineform--input">
							<input type="tel" id="dhr-contact-phone-input" name="fields[phone_number]" placeholder="Phone Number">
							<label for="dhr-contact-phone-input">Phone Number</label>
						</span>
						<span class="dhr-inlineform--word">Talk to you soon!</span>
					</p>
					<div class="dhr-contactmodal--btns">
						<div class="dhr-inline">
							<button type="submit" class="dhr-button" data-text="Send Your Question">Send Your Question</button>

							<div class="dhr-form--spinner">
								<span><i class="icon-spin4" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>

					<div class="dhr-contactmodal--notice">
						<p id="dhr-modal-notice-text">Please fill out the highlighted missing fields.</p>
					</div>
					<div class="dhr-contactmodal--error">
						<p>Unable to send your question, <a href="#0">try another form</a>.</p>
					</div>
				</form>
				
				<form id="dhr-hidden-post-form" method="POST" action="https://www.getdrip.com/forms/58648395/submissions">
					<input type="hidden" name="fields[email]" value="">
					<input type="hidden" name="fields[first_name]" value="">
					<input type="hidden" name="fields[last_name]" value="">
					<input type="hidden" name="fields[company_name]" value="">
					<input type="hidden" name="fields[question]" value="">
					<input type="hidden" name="fields[department]" value="">
					<input type="hidden" name="fields[phone_number]" value="">
					<input type="submit" class="sr-only">
				</form>
			</div>
			
			<div class="dhr-contactmodal--success">
				<div class="inner-small">
					<div class="dhr-contactmodal--success-msg">
						<h5 class="dhr-preheadline">Your Info Has Been Sent</h5>
						<h3 class="dhr-sectionheadline">Thank You!</h3>
						<p>We'll be in touch very soon.</br>In the meantime, follow us on social media.</p>
					</div>
					<div class="dhr-contactmodal--social">
						{{> social-icons}}
					</div>
					<div class="dhr-contactmodal--success-close">
						<a href="#0" id="secondary-modal-close" class="dhr-button" data-text="Back to Site">Back to Site</a>
					</div>
				</div>
			</div>

		</div>

	</div>
	</div>

	<div class="t"></div>

</section>