
<footer class="dhr-footer" role="contentInfo">
	<div class="inner">
		
		<div class="dhr-footer--content">
			
			<div class="dhr-footer--headline">
				<h4 class="dhr-preheadline">People are doing amazing things with Remixer</h4>
				<h2>Sign up to be the first to hear their stories</h2>
			</div>

			<div class="dhr-footer--form">
				<form action="">
					<div class="dhr-form--inner">
						<div class="dhr-formfield">
							<input type="email" placeholder="your.name@email.com">
							<button type="submit">
								<span>Submit</span>
							</button>
						</div>
					</div>
				</form>
			</div>

			<div class="dhr-footer--social">
				
			</div>
			
			<div class="dhr-footer--copyright">
				<h5>Proudly Hosting Over <span>1,500,000</span> Websites Since 1997</h5>
				<p><span>&copy;</span> 2017 Dreamhost Inc.</p>
			</div>

			<div class="dhr-footer--backtop">
				<a href="#top">Back To Top</a>
			</div>

		</div>

	</div>
</footer>