

<footer id="dhr-footer" class="dhr-footer" role="contentInfo">
	<div class="inner">
		
		<div class="dhr-footer--content">
			
			<div data-inview="children" class="dhr-footer--headline">
				<h4 class="dhr-preheadline">People are doing amazing things with Remixer</h4>
				<h2 class="dhr-sectionheadline">Sign up to be the first to hear their stories</h2>
			</div>


			<div data-inview="children" class="dhr-footer--form">

				<form id="dhr-footer-form" action="">
					<div class="inner-large">
						
						<div class="dhr-formfield">
							<label for="dhr-footer-emailinput" class="sr-only">Email Address</label>
							<input type="email" id="dhr-footer-emailinput" placeholder="your.name@email.com" autocomplete="off" required>
							<span class="dhr-footer--emailborder"></span>
							<button id="dhr-footer-submit" class="dhr-footer--submit" type="submit">
								<span class="sr-only">Submit</span>
								<svg x="0px" y="0px" viewBox="0 0 180 135">
									<path class="st0" d="M105.5,16.4L105.5,16.4c-3.9,3.9-3.9,10.2,0,14.1L132,57H23.1c-5.5,0-10,4.5-10,10c0,5.5,4.5,10,10,10h108.6l-26.5,26.5c-3.9,3.9-3.9,10.2,0,14.1v0c3.9,3.9,10.2,3.9,14.1,0L163,73.9c3.9-3.9,3.9-10.2,0-14.1l-43.3-43.3C115.8,12.5,109.4,12.5,105.5,16.4">
									</svg>
							</button>
						</div>

						<div class="dhr-formmsg dhr-formmsg--success">
							<p>You Have Been Subscribed, Thank You!</p>
						</div>
						<div class="dhr-formmsg dhr-formmsg--error">
							<p>Something went wrong, unable to subscribe.</p>
						</div>
					</div>
				</form>

			</div>


			<div class="dhr-footer--logo" data-inview="children">
				<a href="{{globals.dreamhost_main}}" class="dhr-logo--contain">
					<span>{{> logo-svg id='footer-logo-svg'}}</span>
				</a>
			</div>

			<div data-inview="children" class="dhr-footer--backtop">
				<div><a data-scroll href="#top" data-text="Back To Top">Back To Top</a></div>
			</div>
			
			<div class="dhr-footer--copyright" data-inview="children">
				<h5>Proudly Hosting Over <span>1,500,000</span> Websites Since 1997</h5>
				<p><span>&copy;</span> 2017 DreamHost Inc.</p>
			</div>

			<div class="dhr-footer--social" data-inview="children">
				{{> social-icons}}
			</div>

		</div>

	</div>
</footer>