
<header id="dhr-header" class="dhr-header at-page-top">
	<div class="dhr-header--outer dhr-main" data-inview="fade-up-in">
		<div class="inner" data-inview="children">
			
			<div class="dhr-header--brand">
				<a data-page-transition href="/" class="dhr-logo--contain">
					<span class="site-header--logo">{{> logo-svg id='dhr-logosvg'}}</span>
				</a>
				<div class="dhr-header--navtoggle">
					<button id="dhr-menu-toggle">Menu</button>
				</div>
			</div>

			<nav id="dhr-mainnav" class="dhr-header--menu">
				<ul>
					<li class="{{#compare current_page_name 'index' operator='==='}}is-currentpage{{/compare}}">
						<a data-page-transition href="/">Episodes</a>
					</li>
					<li class="{{#compare current_page_name 'features' operator='==='}}is-currentpage{{/compare}}">
						<a data-page-transition href="/features.html">Features</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
					<li>
						<a href="#0">Log In</a>
					</li>
				</ul>
				<a class="dhr-button" href="{{globals.remixer_signup_url}}" data-text="Try Remixer For Free">Try Remixer For Free</a>
			</nav>

		</div>
	</div>
</header>