
<section class="dhr-block dhr-block--dark dhr-nextepisode {{#if comingsoon}}is-comingsoon{{/if}}">
	<a href="{{link}}"></a>
	
	<div class="inner inner-large">
		<div class="dhr-nextepisode--content">
			
			<h5 class="dhr-preheadline">{{subheadline}}</h5>
			<h1 class="dhr-mainheadline">{{mainheadline}}</h1>
			

			<div class="dhr-nextepisode--play">
				
				<div class="dhr-playlockup">
					<div class="dhr-playlockup--icon">
						<span class="dhr-playlockup--icon-top">
							<i class="icon-play-1" aria-hidden="true"></i>
						</span>
						<span class="dhr-playlockup--icon-bot">
							<i class="icon-play-1" aria-hidden="true"></i>
						</span>
					</div>
					<strong>{{leftword}}</strong>
					<strong>{{rightword}}</strong>
				</div>
			</div>

		</div>
	</div>


	<div class="dhr-coverimg" style="background-image:url({{img}})"></div>

	<div class="light-mark-under">
		<svg x="0px" y="0px" viewBox="0 0 190 186">
			<path class="st0" d="M179.1,136.4c-14,7.8-30.3,12.2-47.7,11.8c-51.1-1-91.6-42.4-90.6-92.4c0.4-17,5.4-32.7,14-46.1C27.5,25,8.8,53.5,8.1,86.6c-1,50,39.6,91.4,90.7,92.4C132.6,179.7,162.4,162.6,179.1,136.4"/>
			<path class="st1" d="M130.5,137.5c0.6,0,1.1,0,1.7,0c13.3,0,26.5-3.3,38.2-9.5c6.9-11.8,10.9-25.5,10.9-40.2c0-44.1-35.6-79.8-79.6-79.8c-13.9,0-26.9,3.6-38.2,9.8c-7.3,11.8-11.4,25.4-11.7,39.3C50.9,100.5,86.2,136.6,130.5,137.5"/>
		</svg>
	</div>

	<div class="dark-mark-over">
		<svg x="0px" y="0px" viewBox="0 0 190 186">
			<path class="st0" d="M179.1,136.4c-14,7.8-30.3,12.2-47.7,11.8c-51.1-1-91.6-42.4-90.6-92.4c0.4-17,5.4-32.7,14-46.1C27.5,25,8.8,53.5,8.1,86.6c-1,50,39.6,91.4,90.7,92.4C132.6,179.7,162.4,162.6,179.1,136.4"/>
			<path class="st1" d="M130.5,137.5c0.6,0,1.1,0,1.7,0c13.3,0,26.5-3.3,38.2-9.5c6.9-11.8,10.9-25.5,10.9-40.2c0-44.1-35.6-79.8-79.6-79.8c-13.9,0-26.9,3.6-38.2,9.8c-7.3,11.8-11.4,25.4-11.7,39.3C50.9,100.5,86.2,136.6,130.5,137.5"/>
		</svg>
	</div>
</section>
