
<ul>
	<li>
		<a href="https://facebook.com/dreamhost">
			<span class="sr-only">Dreamhost on Facebook</span>
			<i class="icon-facebook" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a href="https://twitter.com/dreamhost">
			<span class="sr-only">Dreamhost on Twitter</span>
			<i class="icon-twitter" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a href="https://instagram.com/dreamhost">
			<span class="sr-only">Dreamhost on Instagram</span>
			<i class="icon-instagram" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a href="https://youtube.com/user/dreamhostusa">
			<span class="sr-only">Dreamhost on Youtube</span>
			<i class="icon-youtube-play" aria-hidden="true"></i>
		</a>
	</li>
</ul>