
<section class="dhr-videocard--outer">
	<div class="inner" data-inview="fade-up-in">

		<div class="dhr-fluidvideo">
			<div class="dhr-fluidvideo--wrapper" id="{{target}}" data-video="{{videourl}}" data-poster="/assets/img/nothing.gif" data-facebook-event="{{facebookevent}}"></div>
		</div>
		
		<div class="dhr-videocard">
			<a href="#0" class="dhr-videocard--link" data-hovercard data-video data-video-target="#{{target}}">
				<figure>
					<img src="{{img}}" alt="{{alt}}">
				</figure>
				<div class="dhr-videocard--play">{{> play-btn}}</div>
			</a>
		</div>

	</div>
</section>